registry=https://nexus.devops.jive.com/repository/npm-all/
@getgo:registry=https://artifactory.prodwest.citrixsaassbe.net/artifactory/api/npm/public-npm/
git-tag-version=false
package-lock=true
message=chore(release): %s
save-exact=true
