.cc-reporting .goto-checkbox input:indeterminate+.goto-checkbox__checkmark {
  background-color: #006aff;
  background-color: var(--goto-checkbox-checked-bg-color, #006aff);
  border: 1px solid #b3bfcf;
  border: 1px solid var(--goto-checkbox-checked-border-color, #b3bfcf);
}

.cc-reporting .goto-checkbox input:indeterminate:hover+.goto-checkbox__checkmark {
  background-color: #004fbd;
  background-color: var(--goto-checkbox-checked-hover-bg-color, #004fbd);
  border: 1px solid #b3bfcf;
  border: 1px solid var(--goto-checkbox-checked-border-color, #b3bfcf);
}

.cc-reporting .goto-checkbox input:indeterminate:focus+.goto-checkbox__checkmark {
  background-color: #006aff;
  background-color: var(--goto-checkbox-checked-focus-bg-color, #006aff);
  border-color: #004fbd;
  border-color: var(--goto-checkbox-checked-focus-border-color, #004fbd);
  box-shadow: 0 0 0 5px rgba(64, 144, 255, 0.24);
  box-shadow: 0 0 0 5px var(--goto-checkbox-checked-focus-shadow-color, rgba(64, 144, 255, 0.24));
}

.cc-reporting .goto-checkbox input:indeterminate:active+.goto-checkbox__checkmark {
  background-color: #003989;
  background-color: var(--goto-checkbox-checked-active-bg-color, #003989);
  border-color: #b3bfcf;
  border-color: var(--goto-checkbox-checked-border-color, #b3bfcf);
  box-shadow: none;
}

.cc-reporting .goto-checkbox input:indeterminate+.goto-checkbox__checkmark::after {
  display: block;
  border: solid var(--goto-checkbox-check-color, #ffffff);
  left: 2.5px;
  top: 0px;
  width: 10px;
  height: 7px;
  border-width: 0 0 2px 0;
  transform: unset;
  content: '';
  position: absolute;
}

.cc-reporting .goto-checkbox input:indeterminate:disabled+.goto-checkbox__checkmark {
  cursor: default;
  background-color: rgba(37, 40, 45, 0.24);
  background-color: var(--goto-checkbox-checked-disabled-bg-color, rgba(37, 40, 45, 0.24));
  border-color: #b3bfcf;
  border-color: var(--goto-checkbox-checked-disabled-border-color, #b3bfcf);
}

.cc-reporting .goto-checkbox input:indeterminate:disabled:hover+.goto-checkbox__checkmark {
  background-color: rgba(37, 40, 45, 0.24);
  background-color: var(--goto-checkbox-checked-disabled-bg-color, rgba(37, 40, 45, 0.24));
  border-color: #b3bfcf;
  border-color: var(--goto-checkbox-checked-disabled-border-color, #b3bfcf);
}
